#ProductsMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 22px;
	visibility: hidden;
}

#ServiceMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 87px;
	visibility: hidden;
}

#TrainingMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 160px;
	visibility: hidden;
}

#CommonMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 234px;
	visibility: hidden;
}

#NewsMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 390px;
	visibility: hidden;
}

#AboutMenu {
	z-index: 2;
	position: absolute;
	top: 115px;
	left: 487px;
	visibility: hidden;
}
