RewriteEngine On
# Redirect exceptions for mss. images,
# i.e. No block on the following directories from public access.
RewriteRule "^upload/files/ryan/Daren Gislason/Book Collections/*" - [L]

# Redirect exception for css, javascript, base images, and image_server
RewriteRule "^css/*" - [L]
RewriteRule "^js/*" - [L]
RewriteRule "^img/*" - [L]
RewriteRule "^upload/image_server.php" - [L]

# Redirect if HTTP is used instead of HTTPS
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Redirect to login if no login hash detected
RewriteCond %{HTTP_COOKIE} !zsYjZ5RdavKHU43Xi6DbWKuAu=lhE8IXrx1Ks90w7glk0VUlqTe [NC]
RewriteRule /*	login.php
